/* Here goes your CSS */
body {
  background-color: #f5f5f5;
  color: #364f6b;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  line-height: 1.1em;
  color: #fc5185;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  line-height: 1em;
  color: #22364C;
}

a {
  text-decoration: none;
  color: #3fc1c9;
}

a:hover {
  text-decoration: dotted;
  color: #fc5185;
}

.card {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  padding: 3%;
  background-color: #fff;
  box-shadow: 1px 1px 2px #444355;
  border-radius: 2px;
}

.header > p {
  width: 70%;
  margin: auto;
}

.img_circle {
  border-radius: 50%;
}

.img_film {
  width: 130px;
  height: 180px;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 1.2em;
}

td {
  padding: 10px;
}

#sidebar {
  position: fixed;
  float: left;
  width : 10%;
  min-width: 50px;
  height: 100%;
  background-color: #444355;
  font-size: 2em;
  padding: 0;
  text-align: center;
}

#sidebar > ul {
  margin: 0;
  padding: 0;
}

#sidebar > ul > li {
  list-style-type: none;
  margin-top: 1.8em;
}

#page-content {
  float: right;
  width: 90%;
  min-width: 450px;
  margin: 20px;
}

#troll {
  width: 500px;
  min-height: 500px;
  margin: auto;
  text-align: center;
}

/* This is the code that make you wanna puke on the troll page */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  background-color: red;
}
@keyframes blink-animation {
  to {
    background-color: #00FF00;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: #00FF00;
  }
}
